# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.mo
*.py[cod]
*.so
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.cover
*.coverage
.coverage.*
.cache
.tox/
nosetests.xml
coverage.xml
*.coveragerc
*.pylintrc
.mypy_cache/
.pytest_cache/
.pyre/
.pytype/
celerybeat-schedule
celerybeat.pid
instance/
.webassets-cache
scrapy.cfg
docs/_build/
target/
htmlcov/
dist/
build/
site/
pip-log.txt
pip-delete-this-directory.txt